*.pdf
paraphrase-multilingual-mpnet-base-v2/
content/
all-mpnet-base-v2/
line_bot/botnoiengine/
rnn_lstm_model/
summarize/
THSarabunNew/
LimeSoda/
transformer_model/
venv/
text_classification_wongnai.ipynb
*.zip
*.env
*.pyc
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class